body{
    
    background-image: url("Images/Banner\ Image.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    max-width: 1320px;
    margin: 0 auto;
    
 
}
.banner-head{
      color: #FFF;
      text-align: center;
      font-family: Merriweather;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      display: block;
      padding-top: 115px;
}  
.banner-description{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
    display: block;
    padding-left: 344px;
    padding-right: 344px;
    margin-bottom: 120px;
}   
  


/* Starting Main */
.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 80px;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}
.catagories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}
.newyear{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 0px auto;
    display:block;
}
.midnight{
    position: absolute;
} 