*{
    margin: 0;
    padding: 0;
}

.banner-container{    
    background-image:url("Images/Banner\ Image.png"); 
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    max-width: 1320px;
    border-radius: 16px;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.603);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 82%;
    margin: 0 auto;
    border-radius: 16px;
    max-width: 1320px;
    margin: 0;
    /* min-height: 600px; */
    /* flex-shrink: 0; */ */
    /* position: absolute; */
    /* background-image: 
    url("Images/Banner\ Image.png");
    /* background-repeat: no-repeat; */
    /* border-radius: 16px;
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    /* min-height: 600px; */
      
    
/* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    
}
 
.banner-head{
      color: #FFF;
      text-align: center;
      font-family: Merriweather;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      display: block;
      padding-top: 120px;
}  
.banner-description{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
    display: block;
    padding-left: 344px;
    padding-right: 344px;
    margin-bottom: 120px;
}   
  


/* Starting Main */
.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 80px;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}
.catagories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}
.newyear{
    width: 800px;
    height: 500px;
    flex-shrink: 0;
    margin: 0px auto;
    display:block;
    position: relative;
}
.midnight_party{
    background-image: url("Images/Vectorrr.png");
    background-repeat: no-repeat;
    max-width: 1320px;
    margin: 0 auto;
    position:relative;
 

}
